
.container{
	height: 100%;
}

.piano{
	width: 1350px;
	height:550px;
	border: solid 2px black;
	margin: 0 auto;
	position: relative;
	background-color: black;
	margin-top: 150px;
}

#keyname{
	width: 400px;
	height:100px;
	border: solid 2px white;
	background-color: #1fefd7;
	position: absolute;
	left:450px;
	top: 25px;
}

.keys{
	width:995px;
	height:305px;
	border: solid 3px white;
	top:180px;
	left:160px;
	position: absolute;

}

.white-keys{
	width:63px;
	height:300px;
	background-color: white;
	border:solid 1px black;
	display:inline;
	position: relative;
	margin-left: 4px;
}



.black-keys{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:45px;
	background-color: black;
	border: solid 1px white;
}

.black-keys2{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:120px;
	background-color: black;
	border: solid 1px white;
}

.black-keys3{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:260px;
	background-color: black;
	border: solid 1px white;
}

.black-keys4{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:330px;
	background-color: black;
	border: solid 1px white;
}

.black-keys5{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:400px;
	background-color: black;
	border: solid 1px white;
}

.black-keys6{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:540px;
	background-color: black;
	border: solid 1px white;
}

.black-keys7{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:620px;
	background-color: black;
	border: solid 1px white;
}

.black-keys8{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:755px;
	background-color: black;
	border: solid 1px white;
}

.black-keys9{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:825px;
	background-color: black;
	border: solid 1px white;
}
.black-keys10{
	position: absolute;
	width:50px;
	height:170px;
	display: inline;
	z-index: 99;
	left:900px;
	background-color: black;
	border: solid 1px white;
}


.c2:active{
	background-color:#24e812; 
}

.d2:active{
	background-color:#11e8d2; 
}

.e2:active{
	background-color:#fcabab; 
}

.f2:active{
	background-color:#efef1f; 
}

.g2:active{
	background-color:#ff8d23; 
}

.a2:active{
	background-color:#a704ed; 
}

.b2:active{
	background-color:#ff2268; 
}

.c3:active{
	background-color:#24e812; 
}

.d3:active{
	background-color:#11e8d2; 
}

.e3:active{
	background-color:#fcabab; 
}

.f3:active{
	background-color:#efef1f; 
}

.g3:active{
	background-color:#ff8d23; 
}

.a3:active{
	background-color:#a704ed; 
}

.b3:active{
	background-color:#ff2268; 
}

.c-sharp2:active{
	background-color: grey;
}

.d-sharp2:active{
	background-color: grey;
}
.f-sharp2:active{
	background-color: grey;
}
.g-sharp2:active{
	background-color: grey;
}
.a-sharp2:active{
	background-color: grey;
}
.b-sharp2:active{
	background-color: grey;
}
.c-sharp3:active{
	background-color: grey;
}
.d-sharp3:active{
	background-color: grey;
}
.f-sharp3:active{
	background-color: grey;
}
.g-sharp3:active{
	background-color: grey;
}

.a-sharp3:active{
	background-color: grey;
}


